[MESSAGES CONTROL]
disable=all
enable=reimported,no-self-use,no-else-raise,redefined-argument-from-local,redefined-builtin,raise-missing-from,cyclic-import,unused-argument,attribute-defined-outside-init,no-else-return
